faas_cache_dict>=0.2.8
mosaik_api_v3>=3.0.7
mango_agents>=1.1.2
nest_asyncio>=1.5.8
requests>=2.31.0
termcolor>=2.4.0
networkx>=2.5
numba>=0.58.1
numpy>=1.26.4
pandas>=2.2.1
mosaik-pandapower-2
more_itertools
mosaik>=3.2.0
matplotlib
pandapower
mosaik-csv
pyarrow
tqdm
git+https://gitlab.com/mosaik/mosaik