faas_cache_dict==0.2.8
mango_agents==1.1.2
nest_asyncio==1.5.8
networkx>=2.5
numba==0.58.1
numpy==1.26.4
pandapower==2.13.1
pandas==2.2.1
Requests==2.31.0
termcolor==2.4.0
more_itertools
pyarrow
tqdm
mosaik_api_v3==3.0.7
mosaik-csv
#mosaik==3.2.0
#mosaik_api==3.0.3
#mosaik-pandapower-2==0.3.0
#mosaik-pvgis
git+https://gitlab.com/mosaik/mosaik.git@9000cf0bf4fa9156d18cf81f74aaea119bb6494f
git+https://gitlab.com/mosaik/components/energy/mosaik-pandapower-2.git@fcf3f40db322181928c1053d0e93cbb1952c611f


